@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  background-color: goldenrod;}
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }

}

 @media all and (min-width: 992px){

	.col-md-2 .text-decoration-none:hover{  color: #fff;  background-color: goldenrod;}
	.col-md-3 .text-decoration-none:hover{  color: #fff;  background-color: goldenrod;}
 }
 header{
	background-color:#05203f;
}
.submit{background-color:rgb(139, 182, 182); border-radius: 5px; width:100px}
#message{
	background-color:#CFB997;
}
.container{ border-radius: 5px; 
padding-left: 6%;}
	
	.contact-info{
		display: flex;
		flex-direction: column;

	}
	h3, h5{color: white;}
	.control-label{color: white;}
	footer{
		background-color: #7395AE;
	}